<footer class="footer">
  <div class="footer__inner">
    <div class="footer__block-group">
      <div class="footer__logo">
        <img src="img/logo.svg" alt="Логотип школы" />
      </div>
      <div class="footer__social">
        <ul class="social-links footer__social-links">
          <li class="social-links__item">
            <a class="social-links__link" href="#">
              <span class="icon icon-viber"></span>
            </a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="#">
              <span class="icon icon-vk"></span>
            </a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="#">
              <span class="icon icon-viber"></span>
            </a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="#">
              <span class="icon icon-vk"></span>
            </a>
          </li>
        </ul>
      </div>
      <button data-trigger-for="trial" class="btn btn--green btn--size-normal">
        Онлайн-оплата
      </button>
    </div>
    <div class="footer__courses">
      <h3 class="footer__item-heading">Иностранные языки</h3>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="for-adults.html" class="footer__link">Для взрослых</a>
        </li>
        <li class="footer__list-item">
          <a href="kids-online.html" class="footer__link">Для детей онлайн</a>
        </li>
        <li class="footer__list-item">
          <a href="kids-offline.html" class="footer__link">Для детей офлайн</a>
        </li>
      </ul>
    </div>
    <div class="footer__contacts">
      <h3 class="footer__item-heading">Контакты</h3>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="tel:+74957237515" class="footer__link">+7 (495) 723-75-15</a>
        </li>
        <li class="footer__list-item">
          <a href="mailto:info@speaky.school" class="footer__link">info@speaky.school</a>
        </li>
        <li class="footer__list-item">
          108840, Россия,
          <br />
          г. Москва, г. Троицк,
          <br />
          Троицкий бульвар, 6
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <span class="footer__bottom-item footer__copyright">
        © 2021 Speaky school. Все права защищены. Не для коммерческого использования.
      </span>
      <address class="footer__bottom-item">
        <a class="footer__link" href="#">
          <span>Design by @arinkob</span>
        </a>
      </address>
    </div>
  </div>
</footer>
