<header class="header lock-padding">
  <div class="header__inner">
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item main-nav__item--main-logo">
          <a href="/" class="main-nav__logo">
            <img src="img/logo.svg" alt="Логотип" />
          </a>
        </li>
        <li class="main-nav__item main-nav__item--main-edu">
          <div class="education">
            <ul class="education__list">
              <li class="education__item education__item--arrow">
                <span>Обучение детей</span>
                <div class="education__dropdown">
                  <ul class="education__dropdown-list">
                    <li class="education__dropdown-item">
                      <a href="kids-online.html" class="education__link">Онлайн-занятия</a>
                    </li>
                    <li class="education__dropdown-item">
                      <a href="kids-offline.html" class="education__link">Занятия в клубе</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="education__item">
                <a href="for-adults.html" class="education__link">Обучение взрослых</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="main-nav__item main-nav__item--main-socials">
          <ul class="social-links main-nav__social-links">
            <li class="social-links__item">
              <a class="social-links__link" href="#">
                <span class="icon icon-viber"></span>
              </a>
            </li>
            <li class="social-links__item">
              <a class="social-links__link" href="#">
                <span class="icon icon-vk"></span>
              </a>
            </li>
            <li class="social-links__item">
              <a class="social-links__link" href="#">
                <span class="icon icon-viber"></span>
              </a>
            </li>
            <li class="social-links__item">
              <a class="social-links__link" href="#">
                <span class="icon icon-vk"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <button class="main-nav__trigger"><span></span></button>
      <div class="main-nav__dropdown">
        <div class="main-nav__dropdown-inner container">
          <ul class="main-nav__list main-nav__list--dropdown">
            <li class="main-nav__item main-nav__item--offset-bottom main-nav__item--hide-media">
              <div class="education">
                <ul class="education__list education__list--dropdown">
                  <li class="education__item education__item--offset-bottom">
                    <a href="#" class="education__link">Обучение детей онлайн</a>
                  </li>
                  <li class="education__item education__item--offset-bottom">
                    <a href="#" class="education__link">Обучение детей оффлайн</a>
                  </li>
                  <li class="education__item education__item--offset-bottom">
                    <a href="#" class="education__link">Обучение взрослых</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="main-nav__item main-nav__item--offset-bottom">
              <ul class="social-links main-nav__social-links main-nav__social-links--mobile">
                <li class="social-links__item">
                  <a class="social-links__link" href="#">
                    <span class="icon icon-facebook"></span>
                  </a>
                </li>
                <li class="social-links__item">
                  <a class="social-links__link" href="#">
                    <span class="icon icon-instagram"></span>
                  </a>
                </li>
                <li class="social-links__item">
                  <a class="social-links__link" href="#">
                    <span class="icon icon-viber"></span>
                  </a>
                </li>
                <li class="social-links__item">
                  <a class="social-links__link" href="#">
                    <span class="icon icon-vk"></span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="main-nav__item main-nav__item--offset-bottom">
              <div class="contacts">
                <h5 class="contacts__heading">Контакты</h5>
                <ul class="contacts__list">
                  <li class="contacts__item">
                    <a href="tel:+74957237515">+7 (495) 723-75-15</a>
                  </li>
                  <li class="contacts__item">
                    <a href="mailto:info@speaky.school?subject=вопрос">info@speaky.school</a>
                  </li>
                  <li class="contacts__item">
                    108840, Россия,
                    <br />
                    г. Москва, г. Троицк,
                    <br />
                    Троицкий бульвар, 6
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
