@charset "UTF-8";

/* Подключение шрифта */

/* section */

/* container */

/* icon-pseudo */

/* text-gradient */

/* heading */

/* link styles */

/* Fonts */

@font-face {
  font-family: "Jost-Black";
  font-display: swap;
  src: url("../fonts/Jost-Black.woff") format("woff"), url("../fonts/Jost-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NextArtHeavy";
  font-display: swap;
  src: url("../fonts/NextArtHeavy.woff") format("woff"), url("../fonts/NextArtHeavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Medium";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Icon font */

/* Width variables */

/* Breakpoints variables */

/* null */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway-Light";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway-Light";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

.container {
  --container-gutter: 20px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
}

.container--filled-block {
  --container-gutter: 0;
}

/* Visible-hidden class */

.visible-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

/* Blocks */

.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #ffffff;
}

.header__inner {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.main-nav__list {
  display: flex;
  align-items: center;
}

.main-nav__list--dropdown {
  display: block;
}

.main-nav__item--main-edu {
  display: none;
}

.main-nav__item--main-socials {
  display: none;
}

.main-nav__item--offset-bottom {
  margin-bottom: 40px;
}

.main-nav__item--offset-bottom:last-child {
  margin-bottom: 0;
}

.main-nav__item--center-lr {
  margin-left: auto;
  margin-right: auto;
}

.main-nav__social-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.main-nav__social-links--mobile {
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.main-nav__logo img {
  width: 195px;
  height: 40px;
}

.main-nav__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 15px;
  margin-right: -15px;
}

.main-nav__trigger.open > span {
  background-color: transparent;
}

.main-nav__trigger.open > span::before,
.main-nav__trigger.open > span::after {
  top: 0;
}

.main-nav__trigger.open > span::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.main-nav__trigger.open > span::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

.main-nav__trigger > span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #000000;
  transition: background-color 0.3s linear;
}

.main-nav__trigger > span::before,
.main-nav__trigger > span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transform-origin: 50% 50%;
  transition: top 0.2s linear, transform 0.3s linear;
}

.main-nav__trigger > span::before {
  top: 6px;
}

.main-nav__trigger > span::after {
  top: -6px;
}

.main-nav__dropdown {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  min-width: 320px;
  overflow-y: auto;
  border-radius: 0 0 70px 70px;
  background-color: #ffffff;
  transform-origin: top;
  transform: rotateX(90deg);
  transition: all 0.3s ease;
}

.main-nav__dropdown.open {
  display: block;
  transform: rotateX(0deg);
}

.main-nav__dropdown-inner {
  padding-top: 40px;
  padding-bottom: 60px;
}

.education__list--dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.education__item {
  position: relative;
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  white-space: nowrap;
}

.education__item--offset-bottom {
  margin-bottom: 20px;
}

.education__item--offset-bottom:last-child {
  margin-bottom: 0;
}

.education__item--arrow::after {
  position: absolute;
  top: 50%;
  right: -17px;
  content: "";
  display: block;
  background-image: url(../img/icons/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 10px;
  height: 6px;
  cursor: pointer;
  transform: translateY(-50%);
}

.education__item--arrow:hover .education__dropdown,
.education__item--arrow:focus-within .education__dropdown {
  transform: perspective(100px) rotateX(0deg) translateX(-50%);
  opacity: 1;
}

.education__dropdown {
  padding-top: 20px;
  position: absolute;
  top: 20px;
  left: 55%;
  min-width: 180px;
  transition: opacity, transform 0.2s ease;
  transform-origin: top;
  transform: perspective(100px) rotateX(-90deg) translateX(-50%);
  opacity: 0;
}

.education__dropdown .education__link:active,
.education__dropdown .education__link:focus {
  transform: perspective(100px) rotateX(0deg) translateX(-50%);
  opacity: 1;
}

.education__dropdown-list {
  position: relative;
  padding: 10px 20px;
  background-color: #ffeca0;
  border-radius: 15px;
}

.education__dropdown-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 6px solid #ffeca0;
  transform: translate(-50%, -100%);
}

.education__dropdown-item {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.education__link {
  color: #000000;
}

.education__link:hover {
  color: #236967;
}

.education__link:focus {
  color: #164341;
}

.contacts__heading {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.contacts__list {
  text-align: center;
}

.contacts__item {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  color: #363636;
  margin-bottom: 12px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item a {
  color: #000000;
}

.contacts__item a:hover {
  color: #236967;
}

.contacts__item a:focus {
  color: #164341;
}

.footer {
  background-color: #fffbed;
  border-radius: 50px 50px 0 0;
}

.footer__inner {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer__block-group {
  margin-bottom: 50px;
}

.footer__logo {
  margin-bottom: 32px;
}

.footer__logo img {
  width: 196px;
  height: 40px;
}

.footer__social {
  margin-bottom: 30px;
}

.footer__social-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.footer__courses {
  margin-bottom: 30px;
}

.footer__contacts {
  margin-bottom: 50px;
}

.footer__item-heading {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer__list {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
}

.footer__list-item {
  margin-bottom: 12px;
}

.footer__link {
  color: #000000;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__bottom-item {
  font-size: 12px;
}

.footer__copyright {
  margin-right: 20px;
}

/* Button */

.btn {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: manipulation;
  white-space: normal;
  border-radius: 30px;
  color: #ffffff;
  letter-spacing: 0.01rem;
  font-family: "Raleway-Light";
  text-align: center;
  transition-property: box-shadow, background-color;
  will-change: box-shadow, background-color;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  cursor: pointer;
}

.btn--size-normal {
  padding: 1.0625em 2.125em;
  font-size: 16px;
  font-weight: 600;
}

.btn--green {
  background-color: #236967;
}

.btn--green:hover {
  box-shadow: #1e5f5d66 0 8px 10px 0;
}

.btn--green:active {
  background-color: #175654;
}

.btn--green:focus {
  box-shadow: #00000026 inset 0px 10px 10px 0px;
}

/* Tab-label */

.tab-label__label {
  position: relative;
  display: block;
  padding: 10px 12px;
  cursor: pointer;
  text-align: center;
}

.tab-label__input:checked + span {
  border-color: #236967;
}

.tab-label__text {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
}

.tab-label__underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  border-bottom: 2px solid #94c6c4;
}

/* Form */

.form {
  min-width: 280px;
}

.form__section {
  margin-bottom: 12px;
}

.form__section:last-child {
  margin-bottom: 0;
}

.form__section--student-info {
  grid-template-columns: 1fr;
  margin-bottom: 26px;
}

.form__section--select-language {
  grid-template-columns: 1fr;
}

.form__section--education-place .main-form__item {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  justify-content: start;
}

.form__section--education-place .form__item {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.form__section--submit {
  grid-template-columns: 1fr;
  justify-items: start;
}

.form__section--bottom-gutter-lg {
  margin-bottom: 26px;
}

.form__group {
  display: grid;
  margin-bottom: 12px;
}

.form__group:last-child {
  margin-bottom: 0;
}

.form__group--additional {
  transition: all 0.2s linear;
}

.form__group--additional.hide {
  margin-bottom: 0;
  height: 0;
}

.form__group--col-2 {
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.form__item--select {
  position: relative;
}

.form__item--select::after {
  position: absolute;
  top: 50%;
  right: 15px;
  content: "";
  display: block;
  background-image: url(../img/icons/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 10px;
  height: 6px;
  cursor: pointer;
  transform: translateY(-50%);
  pointer-events: none;
}

.form__item--select:hover .education__dropdown,
.form__item--select:focus-within .education__dropdown {
  transform: perspective(100px) rotateX(0deg) translateX(-50%);
  opacity: 1;
}

.form__item--select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 1.5em;
}

.form__text {
  font-family: "Raleway-Light";
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 15px;
}

.form__btn-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.field--number:invalid,
.field--text:invalid {
  border: 1px solid #ffa0a0;
}

.field--number:invalid:hover,
.field--text:invalid:hover {
  box-shadow: 0 2px 4px 0 #ffa0a0;
}

/* Field */

.field {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  padding: 0.675em 1em;
  border-radius: 10px;
  border: 1px solid #ffeca0;
  padding: 0.75em 1em;
  background-color: #ffffff;
  transition: box-shadow 0.1s linear;
  outline: none;
}

.field:hover,
.field:focus {
  box-shadow: 0 2px 4px 0 #ffeca0;
}

.field:disabled {
  border: 1px solid #f5f5f5;
  background-color: #fcfcfc;
  color: #858585;
}

.field:disabled:hover {
  box-shadow: none;
}

.field--padding-right {
  padding-right: 50px;
}

.field--number {
  position: relative;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

/* Radio-button */

.radio-button {
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #236967;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  transition: box-shadow 0.1s linear;
  outline: none;
}

.radio-button:hover:not(:checked),
.radio-button:focus-visible {
  box-shadow: 0 0 3px 1px #236967;
}

.radio-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.radio-button:checked::before {
  background-color: #236967;
  width: 6px;
  height: 6px;
}

.radio-button:active:not(:checked)::before {
  background-color: #236967;
  width: 12px;
  height: 12px;
}

.radio-button:invalid {
  border: 2px solid #bdbdbd;
  background-color: #ffffff;
  box-shadow: none;
}

.radio-button:invalid::before {
  background-color: #ffffff;
}

.radio-button:disabled {
  border: 2px solid #bdbdbd;
  background-color: #bdbdbd;
  box-shadow: none;
}

.radio-button:disabled::before {
  background-color: #bdbdbd;
}

/* Label */

.label {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
}

.image-decorate {
  position: relative;
  display: block;
}

.image-decorate::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-decorate--layer-top::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-decorate--rounded img {
  border-radius: 30px;
}

.image-decorate--rounded-bottom img {
  border-radius: 0 0 50% 50%;
}

.image-decorate--lt-rb-smoothed img {
  border-radius: 100px 0 100px 0;
}

.image-decorate--circle img {
  border-radius: 100px;
}

.image-decorate--circle-exclude-lt img {
  border-radius: 0 50% 50% 50%;
}

.image-decorate img {
  position: absolute;
  display: block;
  z-index: 2;
  border: 3px solid #ffeca0;
  -o-object-fit: cover;
     object-fit: cover;
}

.social-links {
  list-style: none;
}

.social-links__item {
  font-size: 20px;
}

.social-links__link {
  color: #000;
}

.social-links__link:hover .icon::before {
  color: #236967;
}

.social-links__link:active > .icon::before,
.social-links__link:focus > .icon::before {
  color: #61b5a9;
}

.abbreviation-bg::before {
  z-index: -1;
  position: absolute;
  font-family: "Jost-Black";
  font-size: 80px;
  color: #ffeca0;
}

.abbreviation-bg--char-s::before {
  content: "S";
}

.abbreviation-bg--char-m::before {
  content: "M";
}

.abbreviation-bg--char-a::before {
  content: "A";
}

.abbreviation-bg--char-r::before {
  content: "R";
}

.abbreviation-bg--char-t::before {
  content: "T";
}

.abbreviation-bg--char-position::before {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abbreviation-bg--counter::before {
  counter-increment: step-list;
  content: counter(step-list);
}

.abbreviation-bg--counter-position::before {
  top: 60%;
  left: -15px;
  transform: translateY(-50%);
}

.popup {
  pointer-events: none;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.582);
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.popup.open {
  pointer-events: all;
  z-index: 1000;
  opacity: 1;
}

.popup.open .popup__body {
  transform: translateY(0%);
}

.popup__body {
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-150%);
  transition: transform 0.3s ease-in-out;
}

.popup__inner {
  overflow: hidden;
  background-color: #fffbed;
  border-radius: 50px;
}

.popup__inner::before,
.popup__inner::after {
  content: "";
  background-size: 100% auto;
}

.popup__inner::before {
  display: none;
}

.popup__inner::after {
  display: block;
  height: 300px;
  background-image: url(../../img/modal/main-modal-bottom.svg);
}

.popup__content {
  padding: 60px 20px;
  position: relative;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.popup__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 30px;
}

.popup__close {
  position: absolute;
  right: 30px;
  top: 20px;
  font-family: "Raleway-Light";
  font-size: 14px;
  text-decoration: underline;
}

/* Sections */

.promo__content {
  display: grid;
  row-gap: 60px;
}

.promo__content::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 260px;
}

.promo__content--main::after {
  background-image: url("../../img/main-image.svg");
}

.promo__content--kids-online::after {
  background-image: url("../../img/kids-online-promo.png");
}

.promo__content--kids-offline::after {
  background-image: url("../../img/kids-offline-promo.png");
}

.promo__content--adults::after {
  height: 220px;
  background-image: url("../../img/adults-promo.png");
}

.promo__group {
  margin-bottom: 40px;
}

.promo__group:last-child {
  margin-bottom: 0;
}

.promo__sub-info {
  margin-bottom: 60px;
}

.promo__heading {
  font-family: "NextArtHeavy";
  font-size: 30px;
  line-height: 1.325;
  letter-spacing: 0.02rem;
  margin-bottom: 40px;
}

.promo__heading--offer {
  margin-bottom: 10px;
}

.promo__sub-heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 10px;
}

.promo__text {
  font-family: "Raleway-Medium";
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.promo__sub-text {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.55;
}

.promo__date {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
}

.lessons__content {
  display: grid;
  justify-items: center;
  row-gap: 60px;
}

.lessons__item {
  width: 223px;
  position: relative;
}

.lessons__text {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  position: absolute;
  bottom: 0;
  left: 25%;
  text-transform: uppercase;
  word-break: break-word;
}

.lessons__text span {
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  transition: background-color 0.2s linear;
}

.lessons__img-wrapper {
  flex-shrink: 0;
  display: block;
  width: 193px;
  border-radius: 60px;
  overflow: hidden;
}

.lessons__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.lessons__link {
  color: inherit;
}

.lessons__link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: box-shadow 0.2s linear;
}

.lessons__link:hover .lessons__text span,
.lessons__link:focus-visible .lessons__text span {
  background-color: #fde9d4;
}

.lessons__link:focus-visible::after {
  box-shadow: 0 0 5px 2px #fde9d4;
}

.languages {
  display: flex;
  justify-content: center;
  background-color: #fffbed;
  border-radius: 50px;
}

.languages__content {
  display: grid;
  margin-top: 65px;
  margin-bottom: 65px;
  margin-left: 20px;
  margin-right: 20px;
}

.languages__heading {
  text-align: center;
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 40px;
}

.languages__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.languages__list {
  justify-self: center;
  display: grid;
  row-gap: 30px;
}

.languages__item {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.languages__item::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 14px;
  flex-shrink: 0;
}

.languages__item--eng::before {
  background-image: url(../img/icons/languages/eng.svg);
}

.languages__item--de::before {
  background-image: url(../img/icons/languages/de.svg);
}

.languages__item--esp::before {
  background-image: url(../img/icons/languages/esp.svg);
}

.languages__item--fr::before {
  background-image: url(../img/icons/languages/fr.svg);
}

.trial-lesson {
  background-color: #fffbed;
  border-radius: 50px;
  overflow: hidden;
}

.trial-lesson::after {
  content: "";
  display: block;
  background-image: url(../../img/modal/trial-slim-2.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 150px;
}

.trial-lesson__content {
  display: grid;
  justify-content: center;
  justify-items: center;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 65px;
  padding-bottom: 60px;
}

.trial-lesson__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 30px;
}

.trial-lesson__form {
  max-width: 420px;
}

.tip {
  background-color: #fffbed;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.tip__content {
  max-width: 914px;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tip__message {
  margin-bottom: 40px;
}

.tip__message-wrapper {
  margin-bottom: 40px;
}

.tip__message-heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}

.tip__message-heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.tip__message-heading:not(:last-child) {
  margin-bottom: 30px;
}

.tip__message-text {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
}

.tip__image-inner {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  height: 264px;
}

.tip__image-inner img {
  top: 32px;
  left: 30px;
  width: 222px;
  height: 222px;
}

.tip__image-inner--frames-kids::before {
  background-image: url(../img/tip/tip-frame.svg);
}

.tip__image-inner--frames-kids::after {
  background-image: url(../img/tip/tip-frame-top.svg);
  background-position-x: right 13px;
}

.tip__image-inner--frames-adults::before {
  background-image: url(../img/tip/tip-frame-adults.svg);
}

.tip__image-inner--frames-adults::after {
  background-image: url(../img/tip/tip-frame-adults-top.svg);
  background-position-x: right 13px;
}

.result__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 40px;
}

.result__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.result__content {
  max-width: 914px;
  margin-left: auto;
  margin-right: auto;
}

.result__list.swiper {
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
}

.result__item.swiper-slide {
  height: auto;
}

.item-result {
  background-color: #fffbed;
  border-radius: 50px;
  padding: 28px 37px;
}

.item-result__text {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
}

.item-result__text::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 26px;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-result__text--icon-books::before {
  background-image: url(../img/icons/result/books.svg);
}

.item-result__text--icon-device::before {
  background-image: url(../img/icons/result/device.svg);
}

.item-result__text--icon-brain::before {
  background-image: url(../img/icons/result/brain.svg);
}

.item-result__text--icon-innovation::before {
  background-image: url(../img/icons/result/innovation.svg);
}

.item-result__text--icon-audiobook::before {
  background-image: url(../img/icons/result/audiobook.svg);
}

.item-result__text--icon-network::before {
  background-image: url(../img/icons/result/network.svg);
}

.our-values {
  display: flex;
  justify-content: center;
}

.our-values__content {
  display: grid;
  row-gap: 60px;
  max-width: 1040px;
}

.our-values__image {
  justify-self: center;
  width: 280px;
  height: 227px;
}

.our-values__image img {
  width: 187px;
  height: 187px;
  left: 27px;
  top: 33px;
}

.our-values__image::before {
  background-image: url(../img/our-values/our-values-frame.svg);
}

.our-values__image::after {
  background-image: url(../img/our-values/our-values-frame-top.svg);
  left: 32px;
  top: 14px;
  width: 230px;
}

.our-values__heading {
  text-align: center;
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 40px;
}

.our-values__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.our-values__list {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.our-values__list-item {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  display: inline-flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.our-values__list-item:nth-child(3n) {
  grid-column: span 2;
}

.our-values__list-item:hover .our-values__list-item-decoration {
  width: 100%;
}

.our-values__list-item:nth-child(1n) circle {
  fill: rebeccapurple;
}

.our-values__list-item:nth-child(1n) line {
  stroke: rebeccapurple;
}

.our-values__list-item:nth-child(2n) circle {
  fill: #fe7167;
}

.our-values__list-item:nth-child(2n) line {
  stroke: #fe7167;
}

.our-values__list-item:nth-child(3n) circle {
  fill: #236967;
}

.our-values__list-item:nth-child(3n) line {
  stroke: #236967;
}

.our-values__list-item:nth-child(4n) circle {
  fill: #fc8b4c;
}

.our-values__list-item:nth-child(4n) line {
  stroke: #fc8b4c;
}

.our-values__list-item:nth-child(5n) circle {
  fill: #ffcc1a;
}

.our-values__list-item:nth-child(5n) line {
  stroke: #ffcc1a;
}

.our-values__list-item:nth-child(6n) circle {
  fill: #038192;
}

.our-values__list-item:nth-child(6n) line {
  stroke: #038192;
}

.our-values__list-item-content {
  padding-top: 35px;
  display: inline-block;
  position: relative;
}

.our-values__list-item-text {
  white-space: nowrap;
}

.our-values__list-item-decoration {
  position: absolute;
  left: 0;
  top: 0;
  width: 85%;
  transition: width 0.3s linear;
  height: 25px;
}

.prices__heading {
  text-align: center;
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 30px;
}

.prices__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.prices__tabs {
  display: grid;
  grid-template-columns: repeat(2, minmax(-webkit-min-content, 240px));
  grid-template-columns: repeat(2, minmax(min-content, 240px));
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 20px;
  margin-bottom: 30px;
}

.prices__tabs--two-buttons-sm {
  grid-template-columns: repeat(2, minmax(140px, 165px));
}

.prices__tabs--three-buttons {
  grid-template-columns: repeat(2, minmax(140px, 165px));
}

.prices__tabs--three-buttons .prices__button:nth-child(3) {
  grid-column: span 2;
  justify-self: center;
}

.prices__tabs--gutter-bottom-lg {
  margin-bottom: 40px;
}

.prices__button {
  border-bottom: 2px solid #94c6c4;
  padding: 10px 12px;
  white-space: nowrap;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: clip;
}

.prices__button.active {
  border-color: #236967;
}

.prices__tabs-group {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.prices__tabs-item {
  flex-basis: 50%;
  margin: 10px 7.5px;
}

.prices__rates {
  display: none;
}

.prices__rates.show {
  display: block;
}

.prices__rates-wrapper {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.prices__rates-group {
  display: none;
  justify-content: flex-start;
}

.prices__rates-group.show {
  display: flex;
}

/* Card-rates block */

.card-rates {
  min-height: 400px;
  background-color: #fffbed;
  border-radius: 50px;
  overflow: hidden;
}

.card-rates::before {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.card-rates--bg-4-of-half-hour::before {
  background-image: url(../img/card-rates/card-1.svg);
}

.card-rates--bg-8-of-half-hour::before {
  background-image: url(../img/card-rates/card-2.svg);
}

.card-rates--bg-12-of-half-hour::before {
  background-image: url(../img/card-rates/card-3.svg);
}

.card-rates--bg-4-of-full-hour::before {
  background-image: url(../img/card-rates/card-4.svg);
}

.card-rates--bg-8-of-full-hour::before {
  background-image: url(../img/card-rates/card-5.svg);
}

.card-rates--bg-12-of-full-hour::before {
  background-image: url(../img/card-rates/card-6.svg);
}

.card-rates--bg-4-club::before {
  background-image: url(../img/card-rates/card-7.svg);
}

.card-rates--bg-8-club::before {
  background-image: url(../img/card-rates/card-8.svg);
}

.card-rates__content {
  padding: 40px 20px 62px;
  text-align: center;
}

.card-rates__duration {
  font-family: "Raleway-Medium";
  font-size: 18px;
  line-height: 1.665;
  margin-bottom: 14px;
}

.card-rates__cost {
  font-family: "NextArtHeavy";
  font-size: 20px;
  letter-spacing: 0.02rem;
  line-height: 1.365;
  margin-bottom: 40px;
}

.features__text {
  margin-bottom: 40px;
}

.features__text p {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
}

.features__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 20px;
}

.features__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: -15px;
}

.features__list :nth-child(1n) {
  border-left-color: #fdd503;
}

.features__list :nth-child(2n) {
  border-left-color: #fe7167;
}

.features__list-item {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 4px;
}

.offer-text__content h3 {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.offer-text__content p {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.offer-text__unit {
  margin-bottom: 50px;
}

/* Pages */

.benefits__heading {
  grid-area: heading;
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}

.benefits__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.benefits__heading:not(:last-child) {
  margin-bottom: 20px;
}

.benefits__text {
  grid-area: text;
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.benefits__list {
  grid-area: list;
  display: grid;
  row-gap: 20px;
}

.benefits__item {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.benefits__item::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.benefits__item--teachers::before {
  background-image: url(../img/icons/benefits/teachers.svg);
}

.benefits__item--online::before {
  background-image: url(../img/icons/benefits/online.svg);
}

.benefits__item--individual::before {
  background-image: url(../img/icons/benefits/individual.svg);
}

.benefits__item--lang::before {
  background-image: url(../img/icons/benefits/lang.svg);
}

.benefits__item--personal::before {
  background-image: url(../img/icons/benefits/personal.svg);
}

.benefits__item--accreditate::before {
  background-image: url(../img/icons/benefits/accreditate.svg);
}

.benefits__item--art::before {
  background-image: url(../img/icons/benefits/art.svg);
}

.benefits__item--elearning::before {
  background-image: url(../img/icons/benefits/elearning.svg);
}

.benefits__item--exam::before {
  background-image: url(../img/icons/benefits/exam.svg);
}

.benefits__item--live::before {
  background-image: url(../img/icons/benefits/live.svg);
}

.benefits__item--devices::before {
  background-image: url(../img/icons/benefits/devices.svg);
}

.benefits__item--ebook::before {
  background-image: url(../img/icons/benefits/ebook.svg);
}

.for-clients__item {
  margin-bottom: 100px;
}

.for-clients__item:last-child {
  margin-bottom: 0;
}

.for-clients__item--reverse .for-clients__img-wrapper {
  order: 1;
}

.for-clients__item--reverse .for-clients__wrapper {
  order: 0;
  margin-left: 0;
  margin-right: 30px;
}

.for-clients__img-wrapper {
  display: flex;
  justify-content: center;
}

.for-clients__img {
  margin-bottom: 60px;
  width: 280px;
  height: 192px;
}

.for-clients__img img {
  width: 210px;
  height: 150px;
}

.for-clients__img--kids img {
  top: 18px;
  left: 46px;
}

.for-clients__img--kids::before {
  background-image: url(../img/for-kids/for-kids-frame.svg);
}

.for-clients__img--adults img {
  top: 18px;
  left: 22px;
}

.for-clients__img--adults::before {
  background-image: url(../img/for-adults/for-adults-frame.svg);
}

.for-clients__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 30px;
}

.for-clients__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.for-clients__list-wrapper {
  margin-bottom: 30px;
}

.for-clients__list-heading {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.for-clients__list {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  padding-left: 17px;
}

.for-clients__list-item {
  list-style-image: url(../img/icons/checkmark.svg);
  list-style-type: disc;
  margin-bottom: 12px;
}

.for-clients__list-item:last-child {
  margin-bottom: 0;
}

.learning-way {
  display: flex;
  justify-content: center;
}

.learning-way__content {
  max-width: 920px;
}

.learning-way__text-wrapper {
  margin-bottom: 40px;
}

.learning-way__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 30px;
}

.learning-way__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.learning-way__text {
  font-family: "Raleway-Light";
  font-size: 16px;
  line-height: 1.625;
  max-width: 430px;
}

.learning-way__method {
  margin-bottom: 100px;
}

.learning-method__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.learning-method__item {
  flex-basis: 100%;
  position: relative;
  display: inline-block;
  min-height: 90px;
  text-align: center;
}

.learning-method__decryption-text {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
  display: block;
  padding-top: 32px;
  color: #236967;
}

.learning-method__main-text {
  font-family: "Raleway-Medium";
  font-size: 18px;
  line-height: 1.665;
  display: block;
}

.learning-target {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.learning-target__image {
  flex-shrink: 0;
  width: 281px;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.learning-target__image::before {
  background-image: url(../img/learning-target/learning-target-frame.svg);
}

.learning-target__image img {
  position: absolute;
  top: 23px;
  left: 17px;
  width: 248px;
  height: 172px;
}

.learning-target__text-wrapper {
  max-width: 450px;
}

.learning-target__heading {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin-bottom: 18px;
}

.learning-target__text {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
}

.learning-steps {
  counter-reset: step-list;
}

.learning-steps__item {
  position: relative;
  margin-bottom: 40px;
}

.learning-steps__item:last-child {
  margin-bottom: 0;
}

.learning-steps__item--reverse .learning-steps__text-wrapper {
  margin-right: 0;
  order: 1;
}

.learning-steps__text-wrapper {
  max-width: 400px;
}

.learning-steps__heading {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  margin-bottom: 16px;
  padding-top: 10px;
}

.learning-steps__text {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
}

.history__content {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.history__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 40px;
}

.history__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.history__nav-line {
  margin-bottom: 60px;
}

.history__slider {
  margin-left: auto;
  margin-right: auto;
}

.nav-line {
  --start-year: 2015;
  counter-reset: timeline var(--start-year, 2015);
  font-size: 16px;
  margin-top: 1.875em;
}

.nav-line::before {
  position: absolute;
  bottom: 9px;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #61b5a9;
}

.nav-line__wrapper {
  padding-bottom: 5px;
}

.nav-line__item {
  position: relative;
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 50px);
  grid-template-columns: minmax(min-content, 50px);
  row-gap: 7px;
  justify-content: center;
  justify-items: center;
  align-content: end;
  cursor: pointer;
  outline: none;
  /*  bullet */
}

.nav-line__item::before {
  counter-increment: timeline;
  content: counter(timeline);
  display: block;
  font-family: "Raleway-Light";
  line-height: 1.625;
  transition: color 0.2s linear;
}

.nav-line__item::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #61b5a9;
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
}

.nav-line__item.swiper-slide {
  flex-shrink: 1;
}

.nav-line__item.swiper-slide-thumb-active::before,
.nav-line__item:focus-visible::before {
  color: #236967;
}

.nav-line__item.swiper-slide-thumb-active::after,
.nav-line__item:focus-visible::after {
  background-color: #236967;
  box-shadow: 0 0 5px 1px #236967;
}

.slider-history {
  max-width: 280px;
}

.slider-history__text-wrapper {
  margin-bottom: 40px;
}

.slider-history__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 20px;
}

.slider-history__text {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
}

.slider-history__image {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 230px;
}

.slider-history__image::before {
  background-image: url(../img/slider-history/frame-bottom.svg);
  background-position-y: bottom;
}

.slider-history__image::after {
  background-image: url(../img/slider-history/frame-top.svg);
}

.slider-history__image img {
  top: 14px;
  left: 20px;
  width: 240px;
  height: 200px;
}

.learning-tip {
  display: flex;
  justify-content: center;
}

.learning-tip__content {
  max-width: 980px;
  display: grid;
  row-gap: 40px;
}

.learning-tip__image {
  width: 281px;
  height: 215px;
}

.learning-tip__image img {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 256px;
  height: 193px;
}

.learning-tip__image::before {
  background-image: url(../img/learning-tip/learning-tip-frame.svg);
}

.learning-tip__image::after {
  background-image: url(../img/learning-tip/learning-tip-frame-top.svg);
  width: 82px;
  height: 38px;
  left: 47px;
  top: 84%;
}

.learning-tip__text-wrapper {
  max-width: 450px;
}

.learning-tip__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin-bottom: 20px;
}

.learning-tip__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.learning-tip__text {
  font-family: "Raleway-Light";
  font-size: 14px;
  line-height: 1.5;
}

.todo-list__content {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.todo-list__heading {
  font-family: "NextArtHeavy";
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  text-align: center;
  margin-bottom: 40px;
}

.todo-list__heading span {
  background-image: linear-gradient(to top, #ffeca0 60%, rgba(0, 0, 0, 0) 50%);
}

.todo-list__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 40px 20px;
  counter-reset: todo-list;
}

.todo-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list__item-counter {
  position: relative;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  background-color: #236967;
  border-radius: 50%;
}

.todo-list__item-counter::before {
  counter-increment: todo-list;
  content: counter(todo-list) "";
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "NextArtHeavy";
  font-size: 40px;
  color: #ffffff;
  transform: translate(-50%, -50%);
}

.todo-list__item-counter--color-yellow {
  background-color: #ffcc1a;
}

.todo-list__item-counter--color-orange {
  background-color: #fc8b4c;
}

.todo-list__item-counter--color-red {
  background-color: #fe7167;
}

.todo-list__item-text {
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 130px;
}

/* Page */

.page {
  margin-top: 70px;
  padding-top: 60px;
  padding-bottom: 100px;
}

.page__item {
  margin-bottom: 100px;
}

.page__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 375px) {
  .form__text {
    margin-bottom: 30px;
  }

  .promo__content::after {
    height: 300px;
  }

  .promo__content--adults::after {
    height: 250px;
  }

  .our-values__image {
    width: 353px;
    height: 300px;
  }

  .our-values__image img {
    width: 260px;
    height: 260px;
  }

  .our-values__image::after {
    left: 35px;
    top: 7px;
    width: 319px;
  }

  .prices__tabs {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .prices__button {
    font-size: 16px;
  }

  .for-clients__img {
    width: 344px;
    height: 236px;
  }

  .for-clients__img img {
    width: 240px;
    height: 180px;
  }

  .for-clients__img--kids img {
    top: 28px;
    left: 68px;
  }

  .for-clients__img--adults img {
    top: 28px;
    left: 36px;
  }

  .learning-method__item {
    flex-basis: calc(33.333% - 10px);
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .learning-target__image {
    width: 350px;
    height: 268px;
  }

  .learning-target__image img {
    width: 315px;
    height: 218px;
  }

  .slider-history {
    max-width: 335px;
  }

  .slider-history__image {
    width: 335px;
    height: 275px;
  }

  .slider-history__image img {
    width: 290px;
    height: 240px;
  }

  .learning-tip__image {
    width: 335px;
    height: 268px;
  }

  .learning-tip__image img {
    width: 307px;
    height: 230px;
  }

  .todo-list__item-text {
    max-width: 150px;
  }
}

@media (min-width: 480px) {
  .popup__body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .popup__heading {
    font-size: 22px;
  }

  .promo__sub-heading {
    font-size: 22px;
  }

  .lessons__text {
    font-size: 22px;
  }

  .languages__content {
    margin-left: 30px;
    margin-right: 30px;
  }

  .languages__heading {
    font-size: 22px;
  }

  .trial-lesson__heading {
    font-size: 22px;
  }

  .tip__content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .tip__message-heading {
    font-size: 22px;
  }

  .result__heading {
    font-size: 22px;
  }

  .our-values__heading {
    font-size: 22px;
  }

  .prices__heading {
    font-size: 22px;
  }

  .features__heading {
    font-size: 22px;
  }

  .benefits__heading {
    font-size: 22px;
  }

  .for-clients__heading {
    font-size: 22px;
  }

  .learning-way__heading {
    font-size: 22px;
  }

  .history__heading {
    font-size: 22px;
  }

  .slider-history {
    max-width: 345px;
  }

  .slider-history__heading {
    font-size: 22px;
  }

  .slider-history__image {
    width: 345px;
    height: 285px;
  }

  .slider-history__image img {
    width: 300px;
    height: 250px;
  }

  .learning-tip__heading {
    font-size: 22px;
  }

  .todo-list__heading {
    font-size: 22px;
  }
}

@media (min-width: 576px) {
  .container--filled-block {
    --container-gutter: 20px;
  }

  .footer__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .footer__block-group {
    flex-basis: 100%;
  }

  .footer__courses {
    flex-basis: 50%;
  }

  .footer__contacts {
    flex-basis: 50%;
  }

  .footer__bottom {
    flex-basis: 100%;
  }

  .form__group--col-2 {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .popup__inner {
    display: grid;
    grid-template-columns: minmax(50px, 120px) 1fr;
  }

  .popup__inner::before {
    display: block;
    background-image: url(../../img/modal/main-modal-left.svg);
  }

  .popup__inner::after {
    display: none;
  }

  .popup__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .promo__content::after {
    height: 392px;
  }

  .promo__sub-heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .lessons__content {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .lessons__item:nth-child(odd) {
    justify-self: end;
  }

  .lessons__item:nth-child(even) {
    justify-self: start;
  }

  .lessons__text {
    font-size: 24px;
    line-height: 1.415;
  }

  .languages__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .trial-lesson::after {
    background-image: url(../../img/modal/trial-slim.svg);
  }

  .trial-lesson__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .tip__message-heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .result__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .our-values__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .prices__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .features__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .benefits__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .benefits__list {
    grid-template-columns: repeat(2, auto);
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .benefits__list--result {
    grid-template-columns: auto;
  }

  .for-clients__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .for-clients__list-content {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }

  .for-clients__list-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
  }

  .learning-way__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .learning-steps__item:last-child::after {
    display: none;
  }

  .learning-steps__text-wrapper {
    margin-right: 50px;
  }

  .history__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .slider-history__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .learning-tip__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .todo-list__heading {
    font-size: 24px;
    line-height: 1.415;
  }

  .todo-list__item-text {
    max-width: 170px;
  }
}

@media (min-width: 768px) {
  .main-nav__item--main-logo {
    margin-right: 28px;
  }

  .main-nav__item--main-edu {
    display: block;
  }

  .main-nav__item--hide-media {
    display: none;
  }

  .education__list {
    display: flex;
    align-items: center;
  }

  .education__item {
    font-size: 16px;
  }

  .education__item {
    margin-left: 21px;
    margin-right: 21px;
  }

  .education__dropdown-item {
    font-size: 16px;
  }

  .contacts__item {
    font-size: 16px;
  }

  .footer__block-group {
    flex-basis: 33.33%;
    order: 1;
  }

  .footer__logo img {
    width: 242px;
    height: 50px;
  }

  .footer__courses {
    flex-basis: 33.33%;
    order: 0;
    text-align: left;
    padding-top: 15px;
  }

  .footer__contacts {
    flex-basis: 33.33%;
    order: 2;
    text-align: right;
    padding-top: 15px;
  }

  .footer__list {
    font-size: 16px;
  }

  .footer__bottom {
    order: 3;
  }

  .form__section {
    margin-bottom: 14px;
  }

  .form__section--student-info {
    margin-bottom: 30px;
  }

  .form__section--bottom-gutter-lg {
    margin-bottom: 30px;
  }

  .form__group {
    margin-bottom: 14px;
  }

  .form__text {
    margin-top: 12px;
    font-size: 14px;
  }

  .form__btn-wrapper {
    justify-content: flex-start;
  }

  .field {
    font-size: 16px;
  }

  .field {
    padding: 0.75em 1em;
  }

  .label {
    font-size: 16px;
  }

  .popup__body {
    max-width: 900px;
  }

  .popup__inner {
    grid-template-columns: minmax(80px, 160px) minmax(500px, 700px) minmax(80px, 160px);
  }

  .popup__inner::after {
    display: block;
    height: auto;
    background-image: url(../../img/modal/main-modal-right.svg);
  }

  .popup__close {
    right: 50px;
    top: 40px;
  }

  .promo__content {
    grid-template-columns: minmax(55%, 1fr) minmax(200px, 450px);
    -moz-column-gap: 32px;
         column-gap: 32px;
  }

  .promo__content::after {
    height: 330px;
    background-position: right;
  }

  .promo__content--main {
    grid-template-columns: minmax(45%, 1fr) minmax(200px, 560px);
  }

  .promo__content--adults {
    grid-template-columns: minmax(45%, 1fr) minmax(200px, 580px);
  }

  .promo__info {
    align-self: center;
  }

  .promo__group {
    margin-bottom: 60px;
  }

  .promo__text {
    font-size: 22px;
  }

  .promo__sub-text {
    font-size: 16px;
    line-height: 1.625;
  }

  .lessons__content {
    grid-template-columns: repeat(auto-fill, minmax(-webkit-min-content, 223px));
    grid-template-columns: repeat(auto-fill, minmax(min-content, 223px));
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  .lessons__item:nth-child(n) {
    justify-self: initial;
  }

  .languages__content {
    width: 100%;
    max-width: 914px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .languages__heading {
    text-align: initial;
  }

  .languages__list {
    justify-self: initial;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .trial-lesson {
    display: flex;
    justify-content: space-between;
  }

  .trial-lesson::after {
    width: 25%;
    background-size: cover;
    background-image: url(../../img/modal/trial-side.svg);
    height: auto;
  }

  .trial-lesson__content {
    width: 75%;
  }

  .tip__content {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: initial;
    padding-left: 40px;
    padding-right: 40px;
  }

  .tip__message {
    flex-basis: 50%;
    align-self: center;
    margin-bottom: 0;
  }

  .tip__message-text {
    font-size: 16px;
  }

  .tip__image {
    flex-basis: 50%;
  }

  .result__list-wrapper.swiper-wrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
  }

  .item-result__text {
    font-size: 16px;
  }

  .our-values__content {
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  .our-values__image {
    width: 280px;
    height: 227px;
    align-self: center;
  }

  .our-values__image img {
    width: 187px;
    height: 187px;
  }

  .our-values__image::after {
    left: 32px;
    top: 14px;
    width: 230px;
  }

  .our-values__group {
    order: 1;
  }

  .our-values__heading {
    text-align: left;
  }

  .our-values__list {
    margin-left: 0;
    margin-right: 0;
  }

  .our-values__list-item:nth-child(3n) {
    grid-column: initial;
  }

  .prices__heading {
    margin-bottom: 40px;
  }

  .prices__tabs--three-buttons {
    grid-template-columns: repeat(3, minmax(140px, 165px));
  }

  .prices__tabs--three-buttons .prices__button:nth-child(3) {
    grid-column: initial;
    justify-self: initial;
  }

  .prices__tabs-item {
    margin: 10px;
  }

  .card-rates__cost {
    font-size: 22px;
    line-height: 1.3;
  }

  .features__content {
    display: flex;
  }

  .features__text {
    margin-right: 40px;
    margin-bottom: 0;
    flex-basis: 35%;
    flex-shrink: 0;
  }

  .features__list {
    align-self: center;
  }

  .features__list-item {
    font-size: 16px;
  }

  .offer-text__content {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  .offer-text__content p {
    font-size: 16px;
  }

  .benefits__content {
    --col-size: minmax(min-content, 340px);
    display: grid;
    grid-template-columns: var(--col-size) 1fr;
    grid-template-areas: "heading list" "text list";
    align-items: start;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .benefits__content--kids-offline {
    --col-size: minmax(340px, 1fr);
    grid-template-areas: "heading ." "list list";
  }

  .benefits__text {
    font-size: 16px;
  }

  .benefits__text {
    margin-bottom: 0;
  }

  .for-clients__item {
    display: flex;
  }

  .for-clients__img {
    width: 280px;
    height: 192px;
    margin-bottom: 0;
  }

  .for-clients__img img {
    width: 210px;
    height: 150px;
  }

  .for-clients__img--kids img {
    top: 18px;
    left: 46px;
  }

  .for-clients__img--adults img {
    top: 18px;
    left: 22px;
  }

  .for-clients__wrapper {
    margin-left: 30px;
  }

  .for-clients__list {
    font-size: 16px;
  }

  .learning-method__item {
    flex-basis: 20%;
  }

  .learning-method__decryption-text {
    font-size: 16px;
  }

  .learning-target {
    flex-wrap: nowrap;
  }

  .learning-target__image {
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .learning-target__text-wrapper {
    margin-top: 66px;
  }

  .learning-target__text {
    font-size: 16px;
  }

  .learning-steps__item {
    display: flex;
    margin-bottom: 50px;
  }

  .learning-steps__item::after {
    flex-shrink: 0;
    margin-top: 20px;
    content: "";
    display: block;
    width: 80px;
    height: 70px;
    background: url(../img/icons/Arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .learning-steps__item::after {
    width: 128px;
    height: 111px;
  }

  .learning-steps__item--reverse {
    justify-content: flex-end;
  }

  .learning-steps__item--reverse::after {
    order: 0;
    margin-right: 50px;
    transform: rotateY(180deg);
  }

  .learning-steps__text {
    font-size: 16px;
  }

  .slider-history {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .slider-history__slide {
    display: flex;
    align-items: center;
  }

  .slider-history__text-wrapper {
    order: 1;
  }

  .slider-history__image {
    flex-shrink: 0;
    order: 0;
    margin-right: 40px;
  }

  .learning-tip__content {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }

  .learning-tip__text-wrapper {
    align-self: center;
  }

  .learning-tip__heading {
    margin-bottom: 30px;
  }

  .learning-tip__text {
    font-size: 16px;
  }

  .todo-list__list {
    grid-template-columns: repeat(4, auto);
  }

  .benefits__heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .benefits__content--kids-offline > .benefits__heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .benefits__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .benefits__list {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
  }

  .benefits__content--kids-offline > .benefits__list {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (min-width: 820px) {
  .languages__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 830px) {
  .main-nav__list {
    width: 100%;
  }

  .main-nav__item--main-socials {
    display: block;
    margin-left: auto;
  }

  .main-nav__trigger {
    display: none;
  }

  .main-nav__dropdown {
    display: none;
  }
}

@media (min-width: 992px) {
  .main-nav__social-links {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  .main-nav__logo img {
    width: 244px;
    height: 50px;
  }

  .footer__logo img {
    width: 289px;
    height: 60px;
  }

  .footer__bottom-item {
    font-size: 14px;
  }

  .popup__content {
    padding: 80px;
  }

  .promo__content::after {
    height: 390px;
  }

  .promo__content--main::after {
    height: 500px;
  }

  .promo__heading {
    font-size: 41px;
  }

  .our-values__content {
    -moz-column-gap: 70px;
         column-gap: 70px;
  }

  .our-values__image {
    width: 353px;
    height: 300px;
  }

  .our-values__image img {
    width: 260px;
    height: 260px;
  }

  .our-values__image::after {
    left: 35px;
    top: 7px;
    width: 319px;
  }

  .benefits__list--result {
    grid-template-columns: repeat(2, auto);
  }

  .for-clients__item {
    margin-bottom: 110px;
  }

  .for-clients__item--reverse .for-clients__wrapper {
    margin-right: 50px;
  }

  .for-clients__img {
    width: 344px;
    height: 236px;
  }

  .for-clients__img img {
    width: 240px;
    height: 180px;
  }

  .for-clients__img--kids img {
    top: 28px;
    left: 68px;
  }

  .for-clients__img--adults img {
    top: 28px;
    left: 36px;
  }

  .for-clients__wrapper {
    margin-left: 50px;
  }

  .for-clients__list-content {
    margin-left: -13px;
    margin-right: -13px;
  }

  .for-clients__list-wrapper {
    padding-left: 13px;
    padding-right: 13px;
  }

  .learning-target__image {
    width: 394px;
    height: 302px;
    margin-right: 50px;
  }

  .learning-target__image img {
    top: 27px;
    left: 20px;
    width: 354px;
    height: 245px;
  }

  .slider-history__image {
    margin-right: 80px;
  }

  .learning-tip__content {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  .learning-tip__image {
    width: 446px;
    height: 345px;
  }

  .learning-tip__image img {
    top: 18px;
    left: 20px;
    width: 406px;
    height: 294px;
  }

  .todo-list__heading {
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  .promo__content::after {
    height: 420px;
  }

  .promo__content--main::after {
    height: 520px;
  }

  .lessons__content {
    -moz-column-gap: 70px;
         column-gap: 70px;
  }

  .our-values__list {
    grid-template-columns: -webkit-min-content -webkit-min-content 1fr;
    grid-template-columns: min-content min-content 1fr;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }

  .prices__rates-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .offer-text__unit {
    margin-bottom: 60px;
  }

  .benefits__content {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }

  .for-clients__item {
    margin-bottom: 120px;
  }

  .for-clients__item--reverse .for-clients__wrapper {
    margin-right: 80px;
  }

  .for-clients__wrapper {
    margin-left: 80px;
  }

  .learning-tip__content {
    -moz-column-gap: 88px;
         column-gap: 88px;
  }

  .todo-list__list {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}

@media (min-width: 1300px) {
  .education__item {
    margin-left: 21px;
    margin-right: 21px;
  }

  .btn--size-normal {
    font-size: 18px;
  }

  .promo__content--main::after {
    height: 560px;
  }

  .promo__heading {
    font-size: 50px;
  }

  .languages__content {
    margin-top: 75px;
    margin-bottom: 85px;
  }

  .features__text {
    margin-right: 65px;
  }

  .features__list {
    align-self: flex-start;
    margin: 30px -10px -10px;
  }

  .features__list-item {
    flex-basis: calc(50% - 20px);
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .benefits__list--result {
    grid-template-columns: repeat(3, auto);
  }

  .for-clients__item {
    margin-bottom: 140px;
  }

  .for-clients__item--reverse .for-clients__wrapper {
    margin-right: 120px;
  }

  .for-clients__img {
    width: 499px;
    height: 345px;
  }

  .for-clients__img img {
    width: 354px;
    height: 266px;
  }

  .for-clients__img--kids img {
    top: 40px;
    left: 95px;
  }

  .for-clients__img--adults img {
    top: 40px;
    left: 50px;
  }

  .for-clients__wrapper {
    margin-left: 120px;
  }

  .history__heading {
    margin-bottom: 60px;
  }

  .todo-list__list {
    -moz-column-gap: 90px;
         column-gap: 90px;
  }

  .page {
    padding-bottom: 140px;
  }

  .page__item {
    margin-bottom: 140px;
  }

  .page__item--gutter-static-100 {
    margin-bottom: 100px;
  }
}

@media (max-height: 568px) {
  .main-nav__dropdown {
    bottom: 0;
  }
}